<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linewell.dataelement.dataassets.base.mapper.DaOrderAssetRelaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.linewell.dataelement.dataassets.base.entity.DaOrderAssetRela">
        <id column="tid" property="tid" />
        <result column="tenant_id" property="tenantId" />
        <result column="revision" property="revision" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
        <result column="is_del" property="isDel" />
        <result column="flow_order_id" property="flowOrderId" />
        <result column="flow_type" property="flowType" />
        <result column="flow_status" property="flowStatus" />
        <result column="asset_id" property="assetId" />
        <result column="asset_type" property="assetType" />
        <result column="asset_version" property="assetVersion" />
        <result column="asset_snapshot_data" property="assetSnapshotData" />
        <result column="asset_new_data" property="assetNewData" />
        <result column="instance_id" property="instanceId" />
    </resultMap>

</mapper>
