HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.ps1
*.log
*.pid

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.workbuddy

/logs/
/deploy/
__pycache__/
*.pyc
!scripts/verify-idaas-magic.ps1
data/errors/2097883181453148161.json
data/errors/2097836820133441537.json
data/errors/2097895314396147713.json
